In [3]:
companies_cap = [
    ['Microsoft', 1.3],
    ['Lenovo', 1.1],
    ['Onion', 0.9],
    ['Hp', 1.01]
]

for i, companies in enumerate(companies_cap):
    print(i+1, companies[0], 'с капитализацией', companies[1])

1 Microsoft с капитализацией 1.3
2 Lenovo с капитализацией 1.1
3 Onion с капитализацией 0.9
4 Hp с капитализацией 1.01

In [18]:
queries = [
'смотреть сериалы онлайн',
'новости спорта',
'афиша кино',
'курс доллара',
'сериалы этим летом',
'курс по питону',
'сериалы про спорт',
]

[i for i in queries]

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт']

In [7]:
[companies[1] for i, companies in enumerate(companies_cap) if companies[1] <1]

[0.9]

In [55]:
ids = {'user1': [213, 213, 213, 15, 213],
'user2': [54, 54, 119, 119, 119],
'user3': [213, 98, 98, 35]}

for value in ids.values():
    print(value)

[213, 213, 213, 15, 213]
[54, 54, 119, 119, 119]
[213, 98, 98, 35]